.showall{
  height: 100%;
  width: 100%;
  
  .sweetmain {
    background-color: rgb(245, 211, 196);
    padding: 30px 40px;
    display: block;

    &__title {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      height: 80px;
      h7 {
        display: inline-block;
        border: 2px solid #ddbf37;
        padding: 10px 20px;
      }
    }

    &__second {
      background-color: #8f147e;
      margin-top: 70px;
      &__image {
        text-align: center;
      }
    }

    &__textbox {
      background-color: chartreuse;
      margin-top: 40px;
      
      &__line{
        display: inline-block;
        border: 2px solid #ddbf37;
        padding: 10px 20px;
        background-color: red;
        width: 95%;
        &__dec{
          font-size: 20px;
        }
      }
    }
    &__left{
      &__user {
        background-color: blue;
        display: flex;
        margin-top: 10px;
        // float: left;
        height: 30px;
        &__name {
          font-size: 20px;
        
        }
        .fa-heart {
          color: red;
        }
        &__good {
          font-size: 10px;
        }
      }
    }
    &__right {
      &__comment {
        
      }
    }
  }
}