.showall{
  height: 100%;
  width: 100%;
  
  
  .sweetmain {
    background-color: rgb(245, 211, 196);
    
    padding: 30px 40px;
    display: block;
    .seweettitle {
      text-align: center;
      border: 1px solid #ddbf37;
    }
  }
}