= render "newlink"
.indexbox
  .formone
    .formone__title
      %h みんなのスイーツ投稿
    .formone__box
      検索機能予定地

    -# 投稿されたやつ
  .indexbox
    .indexbox__sweet
      - @sweet.each do |f|
        .indexbox__sweet__list
          = link_to sweet_path(f.id) do
            .indexbox__sweet__list__name
              = f.name
              = image_tag f.image.url, width: "200px", hight: "200px", class: "sweet-image"
