= render "newlink"
.indexbox
  .formone
    .formone__title
      %h スイーツ投稿
    .formone__box
      検索機能予定地

  - @sweet.each do |f|
    .indexbox__sweet
      .indexbox__sweet__list
        = link_to sweet_path(f.id) do
          .indexbox__sweet__list__image
            = image_tag f.image.url, alt: "写真", hight: "200px", width: "200px"
          .indexbox__sweet__list__name
            = f.name
