.onl {
  height: 100%;
  width: 100%;
  background-color: grey;
  .regi {
    color: rgb(214, 10, 10);
    padding: 60px 40px;
    text-align: center;
    font-size: 80px;
    h4{
      border: medium solid rgb(23, 221, 89);
      background-color: green;
      font-weight: bold;
    }
    

  }
}