.onl {
  height: 100%;
  width: 100%;
  background-color: rgb(180, 177, 177);
  .regi {
    color: rgb(214, 10, 10);
    padding: 60px 40px;
    text-align: center;
    font-size: 80px;
    h4{
      border: medium solid rgb(23, 221, 89);
      background-color: green;
      font-weight: bold;
    }
  }
  .regiformbox {
    padding: 60px 40px;
    height: 660px;
    .field {
      text-align: center;
      margin-bottom: 30px;
      font-size: 30px;
      
      // input[type="text"] {
      //   width: 300px;
      //   height: 40px;
      // }
    }
    .actions {
      text-align: center;
      margin-bottom: 30px;
      font-size: 30px;
      input[type="submit"] {
        color: red;
      }
    }
  }
}

.links {
  font-size: 30px;
  text-align: center;
}